*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p{
  height: 100px;
  width: 20%;
  margin: 2% 40%;
  padding: 10px;
  box-sizing: border-box;
}

.laboratoria{
  background-color: yellow;
  text-transform:capitalize;
  vertical-align: top;
}

.es{
  background-color: pink;
  text-transform: lowercase;
  vertical-align: middle;
}

.transformacion{
  background-color: yellow;
  text-transform: uppercase;
  vertical-align: bottom;
}
